@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

*, ::before, ::after {
    box-sizing: unset;
    border-width: unset;
    border-style: unset;
    border-color: unset;
}

input {
    color-scheme: dark;
  }
